---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// *****************
// Color Variables
// *****************
$brand-color: #A20021;//#0795ED;//#f6b141;
$dark: #393e46;
$gray: #bbbbbb;
$light-gray: #e6eef0;
$white: #ffffff;
$black: #000000;

// *****************
// Screen Sizes Variables
// *****************

$desktop: 1200px;
$tablet:  768px;
$mobile:  576px;

.post-list {
	ul {
	    width:20em;
	    margin:1em;
	    padding:0 0 0 1em;
	    background:lime;
	    overflow:hidden;/*establish margin clearance for li*/
	}
	li {

	    padding:.25em;
			font-size: 14px;
			font-family: monospace;
	}
}

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Gist

.gist {
}

.gist-data {
		height: 350px;
		overflow:auto;
}

.gist-meta {
		font-size: 80% !important;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss",
		  "hero",
			"contact-link"
;
